@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --clr-heading: #222222;
    --clr-body: #818790;
    --clr-bg: #F9F8F8;
    --clr-def: #f65868;
    --clr-def-2: #b43608;
    --clr-ftr: #1f1f1f;
    --clr-ftr-2: #666666;
    --clr-ftr-3: #323232;
    --clr-white: #fff;
    --clr-black: #000;
    --font-1: 'Crimson Text', serif;
    --font-2: 'Jost', sans-serif;
    --rad-1: 1.5rem;
    --clr-grad-1: linear-gradient(to right, var(--clr-def), var(--clr-def-2));
}

@minxin hero-2 {
    background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: var(--font-1);
    font-style: normal;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4rem;
    color: var(--clr-body);
}

h2 {
    color: var(--clr-heading);
    margin: 0 0 1.5rem 0;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: var(--font-2);
    line-height: 1.2;
}

h2 {
    font-size: 36px;
}

p {
    margin-bottom: 1.5rem;
    font-weight: 500;
    color: var(--clr-heading);
    line-height: 3.6rem;
}

*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #555;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #555;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #999;
    font-size: 1.4rem;
    opacity: .5;
}

.site-title {
    margin-bottom: 6rem;
}

.site-title h2 {
    margin-bottom: 0;
}

.site-title.wh h2 {
    color: var(--clr-white);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.de-padding {
    padding: 3rem 0 1rem 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-60 {
    margin-bottom: 2rem;
    padding: 0px 20px;
    text-align: center;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1194px;
    }
}

.grid-4 {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.sub-title {
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 500;
    color: var(--clr-def);
    margin-bottom: 2rem;
    text-transform: uppercase;
    display: block;
    font-family: var(--font-2);
}

.counter-area {
    position: relative;
    z-index: 2;
}

.counter-area::before {
    position: absolute;
    content: '';
    background-image: url(assets/img/funfact/fun-bg.jpg);
    top: 0;
    left: 0;
    height: 65%;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}

.counter-area::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 65%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.8);
}

.counter-wpr {
    padding: 4rem;
    border-radius: var(--rad-1);
    background-color: #ffc107;
    -webkit-box-shadow: 0 4px 8px 0 rgba(51,37,0,0.5);
    box-shadow: 0 4px 8px 0 rgba(51,37,0,0.5);
}

@media (min-width: 1200px) {
    .counter-wpr {
        padding: 5rem 4rem;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {

    .counter-wpr.grid-4 {
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .grid-4 {
        grid-template-columns: repeat(2,1fr);
    }

    .counter-area {
        position: relative;
        z-index: 2;
    }
}

@media only screen and (max-width: 767px) {
    
    .site-title h2 {
        font-size: 3rem;
    }

    .grid-4 {
        grid-template-columns: 1fr;
    }

    .counter-area {
        position: relative;
        z-index: 2;
    }

    .counter-wpr {
        padding: 2rem;
    }
}

.block-syl1 {
    text-align: center;
}

.block-syl1 i {
    color: #fff;
    font-size: 50px;
}

.block-syl1 h4 {
    font-size: 20px;
    color: #333;
    line-height: 24px;
    font-weight: 700;
    text-transform: none;
    margin: 20px 0 0px 0;
}

* {
    margin: 0;
    padding: 0;
    outline: none !important;
    box-sizing: border-box;
}

html,
body {
    color: #898989;
    font-size: 15px;
    font-family: 'montserrat', sans-serif;
    line-height: normal;
    font-weight: 400;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h2,
h4 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0;
    font-weight: normal;
    line-height: normal;
    color: #1f1f1f;
    margin: 0
}

h4 {
    font-size: 16px
}

ul {
    list-style: none;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
    outline: none;
}

a {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.img-responsive {
    max-width: 100%;
}

h2 {
    font-size: 35px;
    color: #333;
    line-height: 36px;
    font-weight: 800;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
}

h4 {
    font-size: 20px;
    color: #333;
    line-height: 24px;
    font-weight: 700;
    text-transform: none;
    margin: 20px 0 10px 0;
}

p {
    color: #707070;
    font-size: 17px;
    line-height: 24px;
    margin-top: 10px;
}

a:hover,
a:focus {
    color: #000;
    text-decoration: none;
}

.container {
    width: 1200px;
    max-width: 1200px;
}

.full {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.text_align_center {
    text-align: center;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.margin_bottom_30_all {
    margin-bottom: 30px;
}

.section {
    float: left;
    width: 100%;
}

.main_heading {
    position: relative;
    margin-bottom: 40px;
}

.main_heading h2 span {
    position: relative;
}

.main_heading h2 span::after {
    content: "";
    display: block;
    width: 90px;
    height: 7px;
    background: #ffc107;
    position: relative;
    right: 0;
    bottom: 0;
    margin: 10px auto 0;
}

footer {
    float: left;
    width: 100%;
}

.padding_layout_1 {
    padding-top: 30px;
}

.product_list {
    transition: ease all 0.5s;
    border: none;
    padding: 0;
}

.product_list:hover,
.product_list:focus {
}

.product_img {
    overflow: hidden;
    border: solid #222 5px;
}

.product_detail_btm {
    background: #222;
    padding-bottom: 25px;
    color: #fff;
}

.product_detail_btm h4 {
    margin: 20px 0 5px 0;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.product_list:hover div.product_img img,
.product_list:focus div.product_img img {
    transform: scale(1.2);
    transition: ease all 0.5s;
}

.product_price p {
    margin: 0;
    text-align: center;
}

.new_price {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

footer {
    background: #632e62;
    min-height: 290px;
    padding: 45px 0;
    position: relative;
}

.footer_style_2 {
    padding: 0;
    background: #111;
}

.footer_blog {
    float: left;
    width: 100%;
    padding: 40px 0 0px 0;
}

.footer_blog ul {
    list-style: disc;
    left: 8px;
}

.footer_blog ul li {
    padding: 4px 0px;
}

footer h2 {
    color: #eee;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 0;
    letter-spacing: 0.5px;
}

footer h2::after {
    width: 30px;
    height: 4px;
    content: "";
    margin: 0;
    display: block;
    position: relative;
    top: 7px;
    background: #ffc107;
}

footer p {
    color: #999;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

footer p a {
    color: #999;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.cprt {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #333;
    margin-top: 25px;
}

.cprt p {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    padding: 0 15px;
    font-weight: 400;
    line-height: 18px;
}

.cprt p a {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline !important;
}

.cprt p a:hover,
.cprt p a:focus {
    text-decoration: none !important;
    color: #fff;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 980px;
        max-width: 980px;
    }

    body {
        overflow-x: hidden;
    }

    footer {
        float: left;
        width: 100%;
    }

    .product_list {
        min-height: auto;
        transition: ease all 0.5s;
        padding-bottom: 25px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    img {
        max-width: 100%;
    }

    body {
        overflow-x: hidden;
    }

    .container {
        width: 750px;
        max-width: 750px;
    }

    .product_detail_btm {
        padding: 15px 0 25px;
    }

    .product_detail_btm h4 {
        margin: 20px 0 10px 0;
        text-align: center;
        font-size: 15px;
    }

    .product_list {
        min-height: auto;
    }

    .main_heading {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 38px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    p {
        font-size: 13px;
    }

    .center {
        align-items: center;
    }

    footer {
        float: left;
        width: 100%;
    }
}

@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    .center {
        align-items: center;
    }

    .container {
        width: 100%;
        max-width: 100%;
        padding: 0 15px;
    }

    .padding_layout_1 {
        padding-top: 24px;
        padding-bottom: 0px;
    }

    h2 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    p {
        color: #707070;
        font-size: 15px;
        line-height: 21px;
        margin-top: 10px;
    }

    .cprt p {
        line-height: 18px;
    }

    .cprt {
        padding-left: 0px;
    }
}

@media (max-width:575px) {
    footer h2 {
        color: #eee;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 20px;
        letter-spacing: 0.5px;
    }

    .footer_blog {
        padding: 0px 0;
    }
}

@media (min-width:575px) and (max-width:767px) {
    .container {
        width: 100%;
        max-width: 560px;
    }

    .product_list {
        min-height: auto;
    }
}

@media (max-width:574px) {

    .product_list {
        min-height: auto;
        padding-bottom: 0;
        transition: ease all 0.5s;
    }
}

.onsale {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 45px;
    width: 45px;
    line-height: 45px;
    position: absolute;
    left: 25px;
    text-align: center;
    top: 10px;
    z-index: 99;
    border-radius: 50%;
    background-color: #dc3545!important;
    opacity: 0.85;
}

.mypolicy {
    padding: 0px 0px 0px 20px;
    line-height: 24px;
}
